<%= form_for(@need, :html => { :multipart => true }) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <div class="field edit-need-title">
        <%= f.text_field :title, placeholder: "Title" %>
      </div>
      <div class="field edit-need-slug">
        <div class="row">
          <div class="col-md-8">
            <%= root_url %>needs/<%= f.text_field :slug, placeholder: "" %>
          </div>
          <div class="col-md-4">
            <span class='help-block'>This link is where you send donors</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, :class => "redactor", placeholder: "Edit your Need's description here. You can add images and formating.", style: "width: 100%;", rows: 80%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="field">
        <%= f.label :post_at %><br>
        <%= f.text_field :posted_at, :class => "datepicker" %>
      </div>
      <div class="field">
        <%= f.label :amount_requested %><br>
        $<%= f.number_field :amount_requested, placeholder: "amount requested" %>
      </div>
      <div>
        $XXXX funded to date
        <br>
        $XXXX still needed
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-4">
          <div class="field">
            <select disabled class='easyui-combobox'>
              <option>$5</option>
              <option>$500000</option>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <%= f.button :Donate, :class => "btn btn-lg btn-disabled", :disabled => true%>
        </div>
      </div>
      <%= f.submit class: 'btn btn-primary', value: "Save Need" %>

    </div>
  </div>
<% end %>
