<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="first_row">
        <h3>
          <%= @need.title %>
        </h3>
        <div class="col-md-8">
          <p class='posted_date'>
            <strong>Posted at:</strong>
            <%= @need.posted_at.to_s(:long) %>
          </p>
        </div>
      </div>
      <div class="col-md-8">
        <p>
          <%= @need.description.html_safe %>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <strong>Amount requested:</strong>
          <%= number_to_currency @need.amount_requested %>
        </p>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @need.percent_complete %>%;">
            <%= number_to_currency @need.amount_donated %>
          </div>
        </div>
        <p>
          <%= number_to_currency @need.amount_donated %> funded to-date<br>
          <%= number_to_currency (@need.amount_requested - @need.amount_donated) %> still needed
        </p>
        <%= form_for(@donation, :url => new_donation_path, :method => :get) do |f| %>
        <% if @donation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

          <ul>
            <% @donation.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class='row'>
          <div class='col-md-4'>
            <div class="field">
              <%= f.select :amount, amount_list, {}, {:class => 'easyui-combobox'} %>
            </div>
          </div>
          <div class='col-md-6 col-md-offset-2'>
            <%= f.hidden_field :need_id %>
            <div class="actions">
              <%= f.submit 'Donate', :class => 'btn btn-success btn-lg' %>
            </div>
          </div>
        </div>
        <% end %>
        <% if can? :edit, @need %>
          <%= link_to 'Edit Need', edit_need_path(@need), class: 'btn btn-info' %>
        <% end %>
      </div>
      <div class="col-md-8">
      </div>
    </div>

    <div id='donor-images'>
      <% @need.donors.uniq.in_groups_of(6) do |group| %>
        <div class='row'>
          <% group.each do |donor| %>
            <% next unless donor %>
            <div class='col-md-2 donor-image'>
              <%= image_tag donor.image_url(:medium), :class => 'img-responsive' %>
              <br />
              <%= donor.name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
